<div class="row">
<!-- Inbox Menu -->
<div class="col-sm-4 col-lg-3">
    <!-- Category Block -->
    {% include "WebBackendBundle:Sharing:index/category.html.twig" %}
    <!-- END Category Block -->

    {% if false %}
    <!-- Tags Block -->
    {% include "WebBackendBundle:Sharing:index/tag.html.twig" %}
    <!-- END Tags Block -->

    <!-- Account Stats Block -->
    {% include "WebBackendBundle:Sharing:index/stats.html.twig" %}
    <!-- END Account Status Block -->

    <!-- Online Users Block -->
    {% include "WebBackendBundle:Sharing:index/account.html.twig" %}
    <!-- END Online Users Block -->
    {% endif %}
</div>
<!-- END Inbox Menu -->

<!-- Messages List -->
<div class="col-sm-8 col-lg-9">

    <!-- Upload File Block -->
    <div class="block">
        <!-- Messages List Title -->
        <div class="block-title">
            <h2>Upload File {% if category is not empty %}to <span class="label label-info">{{ category.name }}</span>{% else %}Here{% endif %}</h2>
        </div>

        {{ form(form) }}

    </div>
    <!-- End Upload File Block -->

<!-- Messages List Block -->
<div class="block">
    <!-- Messages List Title -->
        <div class="block-title">
            <h2>File Explorer - {% if category is not empty %}{{ category.name }} <strong>( Include {{ category.attachment | length }} {% if category.attachment | length >1 %}Files{% else %}File{% endif %} )</strong>{% endif %}</h2>
        </div>
    <!-- END Messages List Title -->

    <!-- Messages List Content -->
        <div class="table-responsive">
            {% if category is not empty %}
            <table class="table table-hover table-vcenter">

            <tbody>
            <!-- Use the first row as a prototype for your column widths -->
            {% for key , attachment in category.attachment %}
            <tr>
                <td><a href="{{ url('user_contract_download' , {'uuid':attachment.id}) }}">{{ attachment.file }}</a></td>
                <td>File Type: {{ attachment.mime }}</td>
            </tr>
            {% endfor %}


            </tbody>
            </table>
            {% endif %}
        </div>
    <!-- END Messages List Content -->
</div>
<!-- END Messages List Block -->
</div>
<!-- END Messages List -->
</div>