{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.user.contract.bigTile' | trans | raw }}{% endblock %}
{% block bigDescription %}{{ 'backend.user.contract.bigDescription' | trans | raw }}{% endblock %}
{% block topName %}{{ 'backend.crumbs.user.contract' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}
{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="block">

                <div class="block-title">
                    <h2><strong><i class="fa fa-pencil-square-o"></i> {{ 'backend.user.contract.myAccountInfo' | trans | raw }}</strong></h2>
                </div>

                {% include "WebBackendBundle:User:contract/index_content.html.twig" %}

            </div>
        </div>

        <div class="col-md-6">
            <div class="block">

                <div class="block-title">
                    <h2><strong><i class="fa fa-paw"></i> {{ 'backend.user.contract.contractUpload' | trans | raw }}</strong></h2>
                </div>

                {% include "WebBackendBundle:User:contract/upload_content.html.twig" %}

            </div>
        </div>

    </div>
{% endblock %}