<table class="table table-borderless table-striped">
    <tbody>
    <tr>
        <td style="width: 20%;"><strong>{{ 'backend.user.contract.chineseName' | trans | raw }}</strong></td>
        <td>{{ user.document.chineseName }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'backend.user.contract.englishName' | trans | raw }}</strong></td>
        <td>{{ user.document.englishName }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'backend.user.contract.idCard' | trans | raw }}</strong></td>
        <td>{{ user.document.idCard }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'backend.user.contract.homeTown' | trans | raw }}</strong></td>
        <td>{{ user.document.homeTown }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.liveAddress' | trans | raw }}</strong></td>
        <td>{{ user.document.liveAddress }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.phoneNumber' | trans | raw }}</strong></td>
        <td>{{ user.document.phoneNumber }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.mobileNumber' | trans | raw }}</strong></td>
        <td>{{ user.document.mobileNumber }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.privateEmail' | trans | raw }}</strong></td>
        <td>{{ user.document.privateEmail }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.companyEmail' | trans | raw }}</strong></td>
        <td>{{ user.document.companyEmail }}</td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.bankAccount' | trans | raw }}</strong></td>
        <td><strong>{{ user.document.bankAccount }}</strong></td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.currency' | trans | raw }}</strong></td>
        <td><strong>{{ user.document.currency }}</strong></td>
    </tr>

    <tr>
        <td><strong>{{ 'backend.user.contract.language' | trans | raw }}</strong></td>
        <td><strong>{{ user.document.language }}</strong></td>
    </tr>

    </tbody>
</table>