{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.invoice.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{% endblock %}
{% block topName %}{{ 'backend.crumbs.invoice' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}

{% block body %}

<div class="block full">
    <ul class="nav nav-pills inline clickable-steps">
        <li><a href="{{ url('invoice_home') }}" data-gotostep="clickable-first"><strong>[1]</strong></a></li>
        <li><a href="{{ url('select_project' , {'clientId':contract.clientId}) }}" data-gotostep="clickable-second"><strong>[2]</strong></a></li>
        <li class="active"><a href="{{ url('add_invoice_for_project' , {'contractId':contract.id}) }}" data-gotostep="clickable-third"><strong>[3]</strong></a></li>
        <li><a href="{{ url('add_item_for_invoice' , {'masterId':contract.id}) }}" data-gotostep="clickable-third"><strong>[4]</strong></a></li>
        <li class="disabled"><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>[5]</strong></a></li>
    </ul>
    <br/>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="block full">
            {% include "WebBackendBundle:Invoice:create/index_content.html.twig" %}
        </div>

        <div class="row"><div class="col-md-12">
        <div class="alert alert-success">
            <h4><i class="fa fa-check"></i> Invoices that is already handled</h4>
        </div>
        <div class="block full hidden-sm">

            <table class="table">
            {% for invoice in contract.invoiceItem if invoice.userId == app.user.id %}

                {% if invoice.status.id != 1  %}
                <tr>
                    <td><span class="{{ invoice.status.flag }}">{{ invoice.status }}</span>
                        Invoice ID:  <span class="label label-primary">{{ invoice.signals }}</span> <a href="{{ url('finish_invoice_info' , {'invoiceId' : invoice.id}) }}">More Info</a>
                    </td>
                    <td>
                        {% if invoice.totalNumber %}{{ invoice.totalNumber | currency | raw }}{% endif %}
                    </td>
                </tr>

                {% endif %}

            {% endfor %}
            </table>

        </div>
        </div></div>

    </div>

    <div class="col-md-6">
        <div class="alert alert-info">
            <h4><i class="fa fa-plus"></i> Invoices that is in process</h4>
        </div>

        {% for invoice in contract.invoiceItem if invoice.userId == app.user.id %}

            {% if invoice.status.id == 1  %}
        <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
            <div class="block">
                    <h5>
                        <span class="{{ invoice.status.flag }}">{{ invoice.status }}</span>
                     Invoice ID:  <span class="label label-primary">{{ invoice.signals }}</span> <a href="{{ url('finish_invoice_info' , {'invoiceId' : invoice.id}) }}">Edit</a>
                    </h5>

                    <div class="row">
                        {% for attachment in invoice.attachment %}
                        <div class="col-xs-6 col-sm-3">
                            <a href="{{ asset( attachment.path ~ '/' ~ attachment.file) }}" class="gallery-link" title="Image Info">
                                <img src="{{ asset( attachment.path ~ '/' ~ attachment.file) }}" alt="image">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                <table class="table">
                    <tr>
                        <td>
                            <strong>{% if invoice.invoiceType %}{{ invoice.invoiceType }} 's Expense{% endif %}<strong>
                        </td>
                        <td>
                            {% if invoice.totalNumber %}{{ invoice.totalNumber }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Description</strong>
                        </td>
                        <td>
                            {% if invoice.etc %}{{ invoice.etc | striptags | truncate(20) }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Invoice Date</strong>
                        </td>
                        <td>
                            {% if invoice.invoiceDate %}{{ invoice.invoiceDate | date('Y-m-d')}}{% endif %}
                        </td>
                    </tr>
                </table>


                {% if invoice.invoiceDate == NULL or invoice.etc == NULL or invoice.invoiceType == NULL or invoice.totalNumber == NULL %}

                    <div class="alert alert-danger">发票信息不全 可能无法通过财务的报销</div>

                {% elseif invoice.attachment.count == 0 %}

                    <div class="alert alert-danger">发票信息不全 请上传发票照片</div>

                {% endif %}

            </div>
        </div>
            {% endif %}

        {% endfor %}

    </div>
    </div>

</div>

{% endblock %}