<div class="row">

    <div class="col-md-5 col-lg-5">
    <!-- Info Block -->
    <div class="block">
        <!-- Info Title -->
        <div class="block-title">

            <h2>{{ 'backend.client.update.company_info' | trans | raw }}</h2>
        </div>
        <!-- END Info Title -->

        <!-- Info Content -->
        <table class="table table-borderless table-striped">
            <tbody>
            <tr>
                <td style="width: 40%;"><strong>Info</strong></td>
                <td>{{ client.remark | raw }}</td>
            </tr>

            <tr>
                <td><strong>{{ 'backend.client.update.fullName' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.fullName }}</a></td>
            </tr>

            <tr>
                <td><strong>{{ 'backend.client.update.shortName' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.shortName }}</a></td>
            </tr>

            <tr>
                <td><strong>{{ 'backend.client.update.address' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.address }}</a></td>
            </tr>
            <tr>
                <td><strong>{{ 'backend.client.update.leader' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.leaderName }}</a></td>
            </tr>
            <tr>
                <td><strong>{{ 'backend.client.update.leader_email' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.leaderEmail }}</a></td>
            </tr>
            <tr>
                <td><strong>{{ 'backend.client.update.leader_phone' | trans | raw }}</strong></td>
                <td><a href="javascript:void(0)">{{ client.leaderPhone }}</a></td>
            </tr>

            </tbody>
        </table>
        <!-- END Info Content -->
    </div>
    <!-- END Info Block -->


    </div>


    <div class="col-md-7 col-lg-7">

        <div class="block">

            <div class="block-title">
                <h2>{{ 'backend.client.update.contracts' | trans | raw }}</h2>
            </div>

            {% for contract in client.contract %}

                <div class="widget">
                    <div class="widget-simple">
                        <a href="javascript:void(0)" class="widget-icon pull-left animation-fadeIn themed-background">
                            <i class="gi gi-book"></i>
                        </a>
                        <h4 class="widget-content text-right animation-hatch">
                            <a href="javascript:void(0)">{{ contract.projectName }}</a>

                            <span class="{{ contract.status | contract_status_color }}">{{ contract.status | contract_status }}</span>

                            <small>Contract No: <strong>{{ contract.contractNo }}</strong></small>
                        </h4>
                    </div>
                </div>


            {% endfor %}

        </div>

    </div>

</div>