<div class="row">

<div class="col-md-4">
    <div class="box border">
        <div class="box-title">
            <h4><i class="fa fa-adjust"></i>公共数据 </h4>
            <div class="tools">

                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <p><a href="{{ url('web_info') }}" class="btn btn-info"><i class="fa fa-group fa-fw"></i> 供应商数据</a></p>
            <p><a href="{{ url('account_info') }}" class="btn btn-info"><i class="fa fa-archive fa-fw"></i> 账号管理</a></p>

        </div>
    </div>
</div>


    <div class="col-md-4">
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-adjust"></i>我们的网站 </h4>
                <div class="tools">

                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <p><a href="http://makotoglobal.com" class="btn btn-danger"><i class="fa fa-globe fa-fw"></i> MakotoGlobal</a></p>
                <p><a href="http://gembachina.com" class="btn btn-danger"><i class="fa fa-globe fa-fw"></i> GembaChina</a></p>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-adjust"></i>CRM </h4>
                <div class="tools">
                    <a href="javascript:;" class="remove">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <p><a href="{{ url('web_backend_homepage') }}" class="btn btn-primary"><i class="fa fa-lock fa-fw"></i> CRM登陆</a></p>
                <p><a href="{{ url('invoice_home') }}" class="btn btn-primary"><i class="fa fa-money fa-fw"></i> 发票报销</a></p>
                <p><a href="{{ url('web_backend_homepage') }}" class="btn btn-primary"><i class="fa fa-file fa-fw"></i> 文件共享</a></p>
                <p><a href="{{ url('sharing_home') }}" class="btn btn-primary"><i class="fa fa-users fa-fw"></i> 客户列表</a></p>
                <p><a href="{{ url('calendar_home') }}" class="btn btn-primary"><i class="fa fa-globe fa-fw"></i> 内部日程表</a></p>
            </div>
        </div>
    </div>

</div>
