{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.contact.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{{ 'backend.contact.bigDescription' | trans | raw }}{% endblock %}
{% block topName %}{{ 'backend.crumbs.contact' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}
{% block body %}


    <div class="block full">

        <ul class="nav nav-pills nav-justified clickable-steps">
            <li><a href="{{ url('invoice_home') }}" data-gotostep="clickable-first"><strong>[ Step 1 ] Select Client</strong></a></li>
            <li><a href="{{ url('select_project' , {'clientId' : contract.clientId}) }}" data-gotostep="clickable-second"><strong>[ Step 2 ] Select Project</strong></a></li>
            <li><a href="{{ url('add_invoice_for_project' , {'contractId' : contract.id}) }}" data-gotostep="clickable-third"><strong>[ Step 3 ] Add / Manage </strong></a></li>
            <li class="active"><a href="{{ url('add_item_for_invoice' , {'masterId' : contract.id}) }}" data-gotostep="clickable-third"><strong>[ Step 4 ] Upload Invoice </strong></a></li>
            <li class="disabled"><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>[ Step 5 ] Finish Invoice </strong></a></li>
        </ul>
        <br/>

        {% include "WebBackendBundle:Invoice:add/index_content.html.twig" %}

    </div>

{% endblock %}