{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.invoice.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{% endblock %}
{% block topName %}{{ 'backend.crumbs.invoice' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}

{% block body %}


    <div class="block full">

        <ul class="nav nav-pills nav-inline clickable-steps">
            <li><a href="{{ url('invoice_home') }}" data-gotostep="clickable-first"><strong>[1]</strong></a></li>
            <li><a href="{{ url('select_project' , {'clientId' : contract.clientId}) }}" data-gotostep="clickable-second"><strong>[2]</strong></a></li>
            <li><a href="{{ url('add_invoice_for_project' , {'contractId' : contract.id}) }}" data-gotostep="clickable-third"><strong>[3]</strong></a></li>
            <li class="active"><a href="{{ url('add_item_for_invoice' , {'masterId' : contract.id}) }}" data-gotostep="clickable-third"><strong>[4]</strong></a></li>
            <li class="disabled"><a href="javascript:void(0)" data-gotostep="clickable-third"><strong>[5]</strong></a></li>
        </ul>
        <br/>

        {% include "WebBackendBundle:Invoice:add/index_content.html.twig" %}

    </div>

{% endblock %}