<div class="row">
<!-- Inbox Menu -->
<div class="col-sm-4 col-lg-3">
    <!-- Menu Block -->
        {% include "WebBackendBundle:Inbox:menu.html.twig" %}
    <!-- END Menu Block -->
</div>
<!-- END Inbox Menu -->

<!-- Messages List -->
<div class="col-sm-8 col-lg-9">
<!-- Messages List Block -->
<div class="block">
<!-- Messages List Title -->
<div class="block-title">
    <h2>Inbox <strong>( {{ fos_message_nb_unread() }} )</strong></h2>
</div>
<!-- END Messages List Title -->

<!-- Messages List Content -->
<div class="table-responsive">
<table class="table table-hover table-vcenter">
<tbody>
<!-- Use the first row as a prototype for your column widths -->
{% for thread in threads %}
<tr class="active">
    <td class="text-center">
        <input id="checkbox20" name="checkbox20" type="checkbox">
    </td>

    <td>{% if thread.createdBy.document %}{{ thread.createdBy.document.englishName }}{% else %}{{ thread.createdBy.username }}{% endif %}</td>
    <td>

        <a href="{{ url('inbox_message' , {'id':thread.id}) }}"><strong>{{ thread.subject }}</strong></a>
        <span class="text-muted">{{ thread.getFirstMessage.body | striptags | truncate(30) }}</span>
    </td>
    <td></td>
    <td class="text-right"><em>{{ time_diff(thread.createdAt) }}</em></td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
<!-- END Messages List Content -->
</div>
<!-- END Messages List Block -->
</div>
<!-- END Messages List -->
</div>